body{
    width: 350px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1{ 
    color: greenyellow;
    margin-bottom: 30px;
    text-align: center; 
}

h2{ text-align: justify; }

button{
    width: 300px;
    color: white;
    padding: 3px 0;
    display: block;
    font-size: 15px;
    margin: 5px auto;
    background: black;
    border-radius: 400px;
    border: 2px solid rgb(0, 0, 0);
}

button:focus{
    background: rgb(0, 128, 255);
    border: 2px solid rgb(0, 128, 255);
}

img {
    width: 100px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid black;
}

#total {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    align-content: center;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    display: block;
    height: 70vh;
}

#divBotonesFlechas {
    display: flex;
    margin-top: 0;
}

#divBotonesFlechas p{ font-weight: 800; }

#divBotonesFlechas button{
    width: 33%;
    border: 0;
    background: 0;
    color: black;
    font-size: 30px;
    text-decoration: 0;
    text-align: center;
}

#botonFinalizar{
    border: 0;
    width: 50%;
    background: 0;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-left: 50%;
    margin-top: 20px;
    background: red;
}

#botonFinalizar:hover {
    transform: scale(0.95); 
    transition: 0.2s;
  }  

li{
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid black;
}